<div data-role="view" data-title="Local" data-layout="main" data-model="app.localStorage" data-show="app.localStorage.onShow" data-after-show="app.localStorage.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            <!--             <a data-role="button" data-icon="favorites" data-align="right" href="">Button</a> -->
            <span data-role="view-title">NavBar</span>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a id="skin-change" data-role="button" data-align="right" data-click="app.changeSkin">Flat</a>
        </div>
    </div>
    <div data-role="listview" data-style="inset">
        <div class="input-area ch50">
            <div class="desc">Insert Variable</div>
            <input id="variableNameInput" class="inputBox" type="text" placeholder="Enter the variable name" />
            <input id="valueInput" class="inputBox" placeholder="Enter the variable value" />
            <button class="button dh" id="insertVariable">Insert Record</button>
            <button class="button dh" id="clearLocalStorage">Clear Local Storage</button>
        </div>
        <div class="input-area ch50">
            <div class="desc">Search or remove variable</div>
            <input id="getRemoveVariableNameInput" class="inputBox" type="text" placeholder="Enter name to search for a variable" />
            <input id="result" class="inputBox" readonly="readonly" placeholder="Result">
            <button class="button dh" id="searchVariable">Search</button>
            <button class="button dh" id="removeVariable">Remove</button>
        </div>
    </div>
    <footer class="footer">
        <div>Cordova API Samples</div>
    </footer>
</div>
<script src="components/store/localStorage.js"></script>