<div data-role="view" data-title="Local Storage" data-layout="main" data-model="app.localStorage" data-show="app.localStorage.onShow" data-after-show="app.localStorage.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            <!--             <a data-role="button" data-icon="favorites" data-align="right" href="">Button</a> -->
            <span data-role="view-title">NavBar</span>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a id="skin-change" data-role="button" data-align="right" data-click="app.changeSkin">Flat</a>
        </div>
    </div>
    <div>
        <form>
            <div>
                <h3 id="vista1" onclick="vistaLocal('contenedor1');">Insertar Variable</h3>
                <ul data-role="listview" data-style="inset" id="contenedor1" style="display:none;">
                    <li>
                        <label>Nombre de la variable:
                            <input id="variableNameInput" type="text" placeholder="Nombre" id="Nombre">
                        </label>
                    </li>
                    <li>
                        <label>Valor de la variable:
                            <input id="valueInput" type="text" placeholder="Valor" id="TextoIngresado">
                        </label>
                    </li>
                    <div class="button-group button-group-vertical">
                        <a id="insertVariable" data-role="button" class="primary">Insertar Variable</a>
                        <a id="clearLocalStorage" data-role="button">Limpiar Local Storage</a>
                    </div>
                </ul>
                <h3 onclick="vistaLocal('contenedor2');">Buscar y eliminar</h3>
                <ul data-role="listview" data-style="inset" id="contenedor2" style="display:none;">
                    <li>
                        <label>Nombre de la variable:
                            <input id="getRemoveVariableNameInput" type="text" placeholder="Nombre" id="Nombre">
                        </label>
                    </li>
                    <li>
                        <label>Valor de la variable:
                            <input id="result" type="text" placeholder="Valor" id="TextoIngresado">
                        </label>
                    </li>
                    <div class="button-group button-group-vertical">
                        <a id="searchVariable" data-role="button" class="primary">Buscar</a>
                        <a id="removeVariable" data-role="button">Eliminar</a>
                    </div>
                </ul>
            </div>
        </form>
    </div>
    <!-- <footer class="footer" align="center">
        <div>Cordova API Samples</div>
    </footer> -->
</div>
<script src="components/store/localStorage.js"></script>