<div data-role="view" data-title="Scanner" data-layout="main" data-model="app.scanner" data-show="app.scanner.onShow" data-after-show="app.scanner.afterShow">
    <!-- START_CUSTOM_CODE_scanner -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_scanner -->
    <div id="ModalView1" data-role="modalview" data-width="300" data-height="300"></div>
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-icon="favorites" data-align="right" href="">Button</a>
            <span data-role="view-title">NavBar</span>
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </div>
    <ul data-role="buttongroup">
        <li>Button</li>
        <li>Button</li>
    </ul>
    <input type="checkbox" data-role="switch" data-checked="false" />
    <input type="checkbox" data-role="switch" data-checked="true" />
    <div id="PopOver3" data-role="popover" data-width="300" data-height="300">
        <div id="View4" data-role="view"></div>
    </div>
    <div id="PopOver2" data-role="popover" data-width="300" data-height="300">
        <div id="View3" data-role="view"></div>
    </div>
    <div id="PopOver1" data-role="popover" data-width="300" data-height="300">
        <div id="View2" data-role="view"></div>
    </div>
    <ul data-role="buttongroup">
        <a data-role="button" data-icon="favorites" href="">Button</a>
        <li>Button</li>
        <li>Button</li>
    </ul>
    <div data-role="scrollview">
        <div data-role="page">Page 1</div>
        <div data-role="page">Page 2</div>
    </div>
    <input type="checkbox" data-role="switch">
    <a data-role="button" data-icon="favorites" href="">Button</a>
    <div data-role="scrollview">
        <div data-role="page">Page 1</div>
        <div data-role="page">Page 2</div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li>
            <a>ListView Link
<a data-role="detailbutton"></a>
            </a>
        </li>
        <li>
            <a>ListView Link</a>
        </li>
        <li>
            <label>Label
                <input type="search" value="" />
            </label>
        </li>
        <li>ListItem</li>
        <li>
            <label>Label</label>
        </li>
        <li>
            <label>Label
                <input type="text" value="Text" />
            </label>
            <input type="checkbox" data-role="switch">
        </li>
    </ul>
</div>