<div data-role="view" data-title="Localización" data-layout="main" data-model="app.localizacion" data-show="app.localizacion.onShow" data-after-show="app.localizacion.afterShow">
    <!-- START_CUSTOM_CODE_scanner -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_scanner -->
    <div data-role="header">
        <div data-role="navbar">
            <!--             <a data-role="button" data-icon="favorites" data-align="right" href="">Button</a> -->
            <span data-role="view-title">NavBar</span>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a id="skin-change" data-role="button" data-align="right" data-click="app.changeSkin">Flat</a>
        </div>
    </div>
    </br>
    <div class="content">
        <div class="action-area ch30">
            <button class="button dh" id="watchButton" onclick="handleWatch();">Start Geolocation Watch</button>
            <button class="button dh" id="refreshButton" onclick="handleRefresh();">Refresh Geolocation</button>
        </div>
        <div class="result-area ch70">
            <div class="results">
                <div id="results" class="desc"></div>
            </div>
            <div class="separator"></div>
        </div>
    </div>
    <div align="center">
        <button data-role="button" onclick="cargarMapa();"><i class="fa  fa-location-arrow"></i> Mi posición
            <div id="miUbicacion"></div>
        </button>
    </div>
    </br>
    <div id="mapLocalizacion" style="width:100%;"></div>
</div>