<div data-role="view" data-title="Multimedia" data-layout="main" data-model="app.multimedia" data-show="app.multimedia.onShow" data-after-show="app.multimedia.afterShow">
    <!-- START_CUSTOM_CODE_multimedia -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_multimedia -->
    <div data-role="header">
        <div data-role="navbar">
            <!--             <a data-role="button" data-icon="favorites" data-align="right" href="">Button</a> -->
            <span data-role="view-title">NavBar</span>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a id="skin-change" data-role="button" data-align="right" data-click="app.changeSkin">Flat</a>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li id="captureImage">
            <a>
                <div class="image-with-text">
                    <h3><i class="fa fa-camera fa-2x"></i><span class="#: data.icon() #"></span> &nbsp;&nbsp;&nbsp; Captura de fotos</h3>
                    <p>
                        Obtiene fotos usando la cámara del móvil.
                    </p>
                </div>
            </a>
        </li>
        <li id="captureAudio">
            <a>
                <div class="image-with-text">
                    <h3><i class="fa fa-microphone fa-2x"></i><span class="#: data.icon() #"></span> &nbsp;&nbsp;&nbsp; Captura de Audios</h3>
                    <p>
                        Obtiene audios utilizando el micrófono del móvil.
                    </p>
                </div>
            </a>
        </li>
        <li id="captureVideo">
            <a>
                <div class="image-with-text">
                    <h3><i class="fa fa-film fa-2x"></i><span class="#: data.icon() #"></span> &nbsp;&nbsp;&nbsp; Captura de Videos</h3>
                    <p>
                        Obtiene videos utilizando la cámara del móvil.
                    </p>
                </div>
            </a>
        </li>
        <li>
            <a href="components/multimedia/scanner.html">
                <div class="image-with-text">
                    <h3><i class="fa fa-qrcode fa-2x"></i><span class="#: data.icon() #"></span> &nbsp;&nbsp;&nbsp; Scanner</h3>
                    <p>
                        Obtiene el texto encriptado en código de barras o QR.
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <ul data-role="listview" data-style="inset" id="media">
        
    </ul>
</div>