<div data-role="view" data-title="Details" data-model="app.editableListView.editableListViewModel" data-bind="events: { show: detailsShow }" id="editableListViewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.Text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
            <a data-role="button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i></a>
        </div>
    </header>

    <div class="details-content">
        <h3 data-bind="text: currentItem.Text"></h3>
        <p data-bind="text: currentItem.Likes"></p>
        <img data-bind="attr: { src: currentItem.PictureUrl }" width="100%" height="auto">
        <p class="editableListItem">
            <label>Short text<span data-bind="text: currentItem.Location"></span></label>
        </p>
        <p data-bind="text: currentItem.Likes"></p>
    </div>
    <!-- START_CUSTOM_CODE_editableListViewModel -->
    <!-- END_CUSTOM_CODE_editableListViewModel -->
</div>